{% extends 'layout.html' %}
{% include 'navbarl.html' %}

{% block body_block %}
<section>
    <div class="container w-50 m-auto text-center" id="equipo">
        <h1 class="p-3 fs-2 border-top border-3">Representantes de la <span class="text-primary">organización
                desarrolladora.</span></h1>
        <p class="fs-4 ">Datos relevantes de cada uno de los integrantes teniendo en cuenta el rol que desempeñan en el
            equipo de trabajo</p>
    </div>

    <br><br><br>
    <table width="1000" ; style="margin: 0 auto;">

        <tr>
            <th>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <br><br>
                            <img src="../static/img/r3.jpeg" class="img-fluid ps-5" height="700" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 align="right" class="card-title">Ingrid Catheryn Cabrera Ruales</h5>
                                <p align="right" class="card-text">catheryncabrera@udenar.edu.co</p>

                                <p>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">o Los desarrolladores del equipo
                                        son las personas responsables de entender los requerimientos especificados por
                                        el cliente.</li>
                                </ul>
                                </p>
                                <p align="right" class="card-text"><small class="text-muted">(+57)312 2288991</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th>
            <th>
                <h1>Desarrollador</h1>
            </th>
            </th>

        </tr>
        <tr>
            <th>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <br><br>
                            <img src="../static/img/r4.jpeg" class="img-fluid ps-5" height="700" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 align="right" class="card-title">Shirley Meliza Gomez Salcedo</h5>
                                <p align="right" class="card-text">melizagomez98@udenar.edu.co</p>

                                <p>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">o Los desarrolladores del equipo
                                        son las personas responsables de entender los requerimientos especificados por
                                        el cliente.</li>
                                </ul>
                                </p>
                                <p align="right" class="card-text"><small class="text-muted">(+57)3146399015</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th>
            <th>
                <h1>Desarrollador</h1>
            </th>
            </th>

        </tr>
    </table>


    </div>
    </div>


</section>


</div>
</section>

{% endblock body_block %}