{% extends 'layout.html' %}
{% include 'navbarl.html' %}

{% block body_block %}

<div class="p-5 bg-ligth">
    <div class="container">
        <center>
            <h1 class="display-3">LIQUOERSTORE <br> LES DA LA BIEVENIDA</h1><br>
            <p class="lead">POR COMPRAS SUPERIORES A 150.000 ENVIO GRATIS / RECIBE TU PEDIDO EN MINUTOS - VENTAS SOLO
                PARA
                PASTO</p>
        </center>
        <hr class="my-2">

        <p class="lead">
            <center><a class="btn btn-primary btn-lg" href="/" role="button">Ver Licores</a></center>
        </p>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/img/Crr1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/Crr3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/Crr2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

            <center>
                <h1 class="display-3">Productos mas vendidos</h1>
            </center>

            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/Pr1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ron viejo de Caldas</h5>
                            <p class="card-text">$27.000 - $52.000 Disponible por botellas y medias</p>
                            <!--<a href="#" class="btn btn-primary">Comprar</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/Pr2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buchanan's</h5>
                            <p class="card-text">$81.000 - $266.000 Disponible por botellas y medias.</p>
                            <!--<a href="#" class="btn btn-primary">Comprar</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/pr3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Whiskey Jack Daniel's</h5>
                            <p class="card-text">$70.000 - $132.000 Disponible por <br>botellas y medias</p>
                            <!--<a href="#" class="btn btn-primary">Comprar</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/pr4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Vodka</h5>
                            <p class="card-text">$40.000 - $76.000 Disponible por botellas y medias.</p>
                            <!--<a href="#" class="btn btn-primary">Comprar</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">

                <div class="col-md-4">
                    <center>
                        <h1 class="display-12">Asesoria para tus <br> compras</h1>
                    </center>
                    <img src="../static/img/Pago.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <!--<h5 class="card-title"></h5>-->
                                <center>
                                    <h1 class="display-12">Nuestros <br> Servicios</h1>
                                </center>
                                <p class="card-text">Servicio a domicilio, licores en consignación, venta de licor al
                                    por mayor, licores
                                    importados para eventos, ofrecemos anchetas navideñas para empresas, económicas y
                                    VIP, todo a la
                                    necesidad de nuestros clientes </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <br>
                    <img src="../static/img/centro.jpg " class="d-block w-100" alt="...">
                </div>
            </div>

        </div>
    </div>


    {% endblock body_block %}