{% extends 'layout.html' %}
{% include 'navbarl.html' %}

{% block body_block %}
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br/><br/><br/>
            <h2 class="text-center h1 text-white bg-primary">Login</h2>
            <form method="POST" enctype="multipart/form-data">
                <center><img src="../../static/img/login.jpg" style="width: 200px;" alt="logo"></center>
                <div>
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <p><input type="submit" value="Login" class="btn btn-success mt-2 center">
            </form>
            <br/><br/><br/>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock body_block %}